<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732612101108-s5srfbt011qqalg5p7624jpdc4gju8oc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732612101108-s5srfbt011qqalg5p7624jpdc4gju8oc</string>
	<key>API_KEY</key>
	<string>AIzaSyAqiccZ8y9gztFzw5xH0AsYE_CVkg3FiaY</string>
	<key>GCM_SENDER_ID</key>
	<string>732612101108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>michelle.SLP-LocationApp</string>
	<key>PROJECT_ID</key>
	<string>phoneauth-3a8f6</string>
	<key>STORAGE_BUCKET</key>
	<string>phoneauth-3a8f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732612101108:ios:c9a99af4f4c2fc0bac6fa1</string>
</dict>
</plist>